<h3>Modification de la rumeur n°<%= @gossip.id %></h3>

<div class= 'col-3'>
</div>

<div class= 'offset-3 col-6'>
	<%= render 'edit-form', gossip: @gossip %>
</div>
<%= link_to 'Back', gossips_path, class:'btn btn-primary' %>
