<nav class='footer'>
    <div class='header-link-group' >
        <h3><%= link_to 'TheGossipProject', root_path %></h3>
        <p class='sum-up'>Site réalisé par Hugo Riviere le 13 novembre 2018, pour THP (Session 6)</p>
    </div>
    <ul class="footer-links">
        <li><a href="https://mobile.twitter.com/the_hacking_pro"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="https://www.facebook.com/thehackingproject/"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/the_hacking_project/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/school/the_hacking_project/"><i class="fab fa-linkedin"></i></a></li>
    </ul>
</nav>