<div class='fixed-bottom bg-secondary text-light'>
  <div class="container">
    <nav class="navbar row">
      <%= link_to 'TheGossipProject', root_path, class:"nav-item text-light " %>
      <div class='ml-2'><small>réalisé par Hugo Riviere le 1er novembre 2018, pour THP (Session 6)</small></div>
      <div class='blockquote-footer text-light text-right'>Vous êtes le <%= @visitor %>ème visiteur</div>

    </nav>
  </div>
</div>