<div class= 'home-gossips'>
	<% if Gossip.all.count >= 3 %>
		<h4>Voici les derniers gossips postés sur le réseau :</h4>
		<%= render 'gossips/gossip-index' %>
	<% else %>
		<h4> Il n'y a pas assez de rumeurs sur le site !!</h4>
	<% end %>
</div>
<div class= "home-buttons">
	<%= link_to 'Parcourir toutes les rumeurs', gossips_path, class:"btn" %>
	<%= link_to "A toi de gossiper !", signup_path, class: "btn" %>
</div>

