<div>

	<% if Gossip.all.count >= 3 %>
		<%= render 'carousel' %>
	<% else %>
		<h4> Il n'y a pas assez de rumeurs sur le site !!</h4>
	<% end %>

	<div class= "text-center mb-5">
		<%= link_to 'Parcourir toutes les rumeurs', gossips_path, class:"btn btn-primary" %>
	</div>
	
	<h4>A toi de gossiper</h4>
	<div class= 'offset-3 col-6'>
		<%= render 'gossips/create-form' %>
	</div>

	<%= link_to "Enregistre-toi !", root_path, class: "btn btn-info" %>

</div>

