.index {
	display: flex;
	justify-content: space-around;
	width: 100%;
}


.card {
	border: 1px solid #888;
	box-shadow: 0px 2px 4px #888, 0px 6px 4px #888;
	width: 30%;
	margin: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card div {
	padding: 5px;
}

.card-header {
	border-bottom: 1px solid #888;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 5px;
	background-color: #eee;
}


.card-title {
	font-weight: bold;
}
.card-metrics {
	color:#5e8eb5;
}


.card-body {
	padding:15px;
	background: #fff;
	text-align: center;
}

.card-caption {
	text-align: center;
	font-style: italic;
	border-top: 1px solid #888;
	background-color: #eee;
	max-height:25px;
	color:#888;
	font-size: 12px;
}

.card-buttons {
	border-top: 1px solid #888;
	display: flex;
	justify-content: space-around;
}

.card-buttons a {
	color: #fff;
}
