@import "components/*";

html {
	margin:0;
	height: 100%;

	}

body {
	font-family: open-sans, sans-serif;
	font-size: 14px;
    margin:0;
    height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #222;
	height: 100%;
    width: auto;
}

a {
	text-decoration: none;
	color:#222;
}

li {
	list-style-type: none;
}

ul {
	margin: 0
}

